    <!--About Section Start-->
    <section
      id="about"
      class="about pt-100 pb-100"
      data-scroll-index="1">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <!--About Image-->
            <div class="about-img">
              <img
                src="images/me.jpg"
                alt="Photo of Jiacheng Xu"
                loading="eager"
                decoding="async"
                fetchpriority="high"
                width="450"
                height="600" />
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <!--About Content-->
            <div class="about-content">
              <div class="about-heading">
                <h2>About Me</h2>
                <!-- <span>AI/ML Researcher & Robotics Enthusiast</span> -->
              </div>
              <p>
                I'm Jiacheng Xu, a 1st-year PhD student at <a href="https://www.kth.se/" style="color: rgb(26, 115, 206);">KTH Royal Institute of Technology</a>, 
                advised by Prof. <a href="https://www.kth.se/profile/dani" style="color: rgb(26, 115, 206);">Danica Kragic</a> and Prof. <a href="https://njaquier.ch/" style="color: rgb(26, 115, 206);">Noémie Jaquier</a>.
                Previously, I obtained my master's degree in Applied Mathematics at 
                <a href="https://www.kth.se/" style="color: rgb(26, 115, 206);">KTH</a> in 2026, 
                My research focuses on humanoid robot learning and generative models.
                
              </p>
              <p>
                My research aims to advance humanoid robot learning by leveraging generative models to capture broad, multimodal knowledge, and whole-body control across complex environments.
              </p>
              
              <p class="custom-link">
                Always open to research collaborations in latest AI and robotics, feel free to reach out (<span id="email"></span>). 
                Also happy to talk philosophy or just life 🍺🎤🌞.
              </p>
              

              <p class="custom-link recruiting-banner">
                <span class="recruiting-title"> We're recruiting RAs / interns!</span><br>
                Remote and onsite (KTH) positions available!  
                We welcome candidates interested in <b>robot learning</b>, <b>generative models</b>, <b>model Interpretability</b> and those with strong mathematical foundations.  
                If you'd like to join us, please get in touch via email.
              </p>     
              
              
              <!--About Social Icons-->
              <div class="about-social-row">
              <!-- <div style="display: flex; align-items: center; justify-content: flex-start; width: 100%;"> -->
                <!-- <div class="about-button">
                  <a class="main-btn" href="files/Boyuan_Chen_CV.pdf"
                    >Resume / CV</a
                  >
                </div> -->
                <div class="social-icons">
                  <a
                    href="https://scholar.google.com/citations?user=RTy-jyAAAAAJ"
                    ><i class="fa fa-brands fa-google-scholar"> </i>
                  </a>
                  <a href="https://x.com/sage_1125?s=21"
                    ><i class="fa fa-twitter"></i
                  ></a>
                  <a href="https://github.com/SageCao1125"
                    ><i class="fa fa-github"></i
                  ></a>
                  <a href="https://www.linkedin.com/in/jiahang-cao-8799322a8/"
                    ><i class="fa fa-linkedin"></i
                  ></a>
                  <a href="mailto:sage_cao@outlook.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About Section End-->
