    <footer id="footer" class="pt-50 pb-50">
      <div class="container">
        <div style="display: flex; justify-content: center; align-items: center; padding: 20px 0;">
          <a href="https://visitorbadge.io/status?path=https%3A%2F%2Fsagecao1125.github.io%2F">
            <img src="https://api.visitorbadge.io/api/combined?path=https%3A%2F%2Fsagecao1125.github.io%2F&countColor=%23263759"
                 style="max-width: 100%; height: auto; width: 180px;" />
          </a>
        </div>

        <div style="width: 300px; height: 300px; margin: 0 auto 10px auto; transform: scale(0.8); transform-origin: top center;">
          <script type="text/javascript" id="clstr_globe"
            src="//clustrmaps.com/globe.js?d=M8imizPcXVt23duN96Du8a9SIfARtXP6_eGpIQjZlsI">
          </script>
        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <p class="copy pt-12">
              Jiahang Cao &copy; 2025. All Right Reserved.
              <br>
              Template from Dr. Boyuan Chen.
            </p>
          </div>
        </div>
      </div>
    </footer>
