            <div class="pub-card" data-topic="robotics" data-year="2026" data-selected="true">
              <div class="row">
                <div class="col-l col-xs-12 col-lg-4">
                  <div class="paper-thumbnail">
                    <img
                      loading="lazy"
                      src="data/projects/2026_graspdreamer/main.png"
                      alt="paper thumbnail"
                      width="1000"
                      height="500"
                    />
                  </div>
                </div>
                <div class="col-r col-xs-12 col-lg-8">
                  <div class="pub-card-body">
                    <h5 class="title">Grasp as You Dream: Imitating Functional Grasping from Generated Human Demonstrations</h5>
                      <h6 class="authors">
                        <a href="https://chao-tang.netlify.app/">Chao Tang</a>,
                        <u><strong>Jiacheng Xu</strong></u>,
                        <a href="https://scholar.google.com/citations?user=RTy-jyAAAAAJ">Haofei Lu</a>,
                        Bolin Zou,
                        Wenlong Dong,
                        Hong Zhang,
                        <a href="https://www.csc.kth.se/~dani/">Danica Kragic</a>
                      </h6>
                      <h6 class="authors">
                        <strong>arXiv 2026</strong>
                      </h6>
                      <p class="info">
                        <a href="https://arxiv.org/abs/2604.07517">Paper</a> |
                        <a href="https://sites.google.com/view/graspdreamer/home">Project</a> |
                        <a
                          shape="rect"
                          href="javascript:togglebib('graspdreamer')"
                          class="togglebib"
                          >Bibtex</a
                        >
                        <pre id= 'graspdreamer' xml:space="preserve" style="display: none; margin: 0; padding: 0; text-align: left;">
@article{tang2026graspdreamer,
  title={Grasp as You Dream: Imitating Functional Grasping from Generated Human Demonstrations},
  author={Tang, Chao and Xu, Jiacheng and Lu, Haofei and Zou, Bolin and Dong, Wenlong and Zhang, Hong and Kragic, Danica},
  journal={arXiv preprint arXiv:2604.07517},
  year={2026}
}
                        </pre>
                      </p>
                  </div>
                </div>
              </div>
            </div>
